<div class="jumbotron">
  <h1 align="center">The Blogger</h1>
</div>

<div align="center">
  <div class="jumbotron2">
    <%= link_to "Enter", topics_path, class: "btn btn-success btn-lg bttn" %>
  </div>
</div>